<div class="jumbotron">
	<h1>Let's workout muthafukka!</h1>
</div>
<form class="form-horizontal" role="form">
	<div class="page-header">
		<h2>First, builds your workout</h2>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">Sequences</div>
		<div class="panel-body">
			<div ng-repeat="seq in workout.sequences" class="form-group">
				<div class="col-sm-3 " ng-show="showAddSequence(seq)">
					<button type="button" class="pull-right btn btn-default" ng-click="addSequence()">
						<span class="glyphicon glyphicon-plus"></span> Add sequence
					</button>
				</div>
				

				<label class="col-sm-3 control-label" ng-show="showLabel(seq)">Exercice duration</label>
				<div class="col-sm-3" ng-hide="showLabel(seq) || showAddSequence(seq)"></div>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="number" class="form-control" ng-model="seq.exercice" placeholder="time" min="10" step="5" required>
						<span class="input-group-addon">Seconds</span>
					</div>
					
				</div>


				<label class="col-sm-3 control-label" ng-show="showLabel(seq)">Rest duration</label>
				<div class="col-sm-3" ng-hide="showLabel(seq)"></div>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="number" class="form-control" ng-model="seq.rest" placeholder="time" min="0" step="5" required>
						<span class="input-group-addon">Seconds</span>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Rounds</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">Number of rounds</label>
				<div class="col-sm-2">
					<input type="number" class="form-control" ng-model="workout.rounds.total" placeholder="rounds" min="1">
				</div>
				<label class="col-sm-4 control-label">Rest beetween rounds</label>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="number" class="form-control" ng-model="workout.rounds.rest" placeholder="time" min="0" step="5" required>
						<span class="input-group-addon">Seconds</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-5">
			<a class="btn btn-primary center-block" href="#workout">Let's go!</a>
		</div>
	</div>

</form>